* {
    box-sizing: border-box;
}

body {
    align-items: center;
    background-color: #ffd54f;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    color: #333;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
}

li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
}

li span {
    display: block;
    font-size: 4.5rem;
}